main {
  padding: 1rem;
}

main > * + * {
  margin-top: 1rem;
}

.FilePicker,
.DownloadButton {
  display: block;
  border: 1px solid black;
  background-color: white;
  min-width: 44px;
  min-height: 44px;
  font-weight: 600;
}

.CanvasArea {
  margin-top: 1rem;
}

.PreviewCanvas {
  display: block;
  max-width: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
}

.DownloadButton {
  margin-top: 1rem;
}

@media screen and (min-width: 64rem) {
  .WorkArea {
    display: grid;
    grid-template-columns: minmax(max-content, 16rem) 32rem;
    gap: 2rem;
  }
}
