/* noto-sans-regular - latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/noto-sans-v27-latin-regular.woff2") format("woff2"),
    url("./fonts/noto-sans-v27-latin-regular.woff") format("woff");
}
/* noto-sans-600 - latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/noto-sans-v27-latin-600.woff2") format("woff2"),
    url("./fonts/noto-sans-v27-latin-600.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Color preferences */
/* Default (light) */
:root {
  --color-bg: #fffff1;
  --color-fg: #111;
  --color-divider: #111;
  --color-accent: #111;
  --color-darkmode-fg: #111;
  --color-darkmode-bg: #eee;
  --color-darkmode-accent: #a295f1;
}

/* Explicit light/dark preference */
[data-theme="alwaysLight"] {
  --color-bg: #fffff1;
  --color-fg: #111;
  --color-divider: #111;
  --color-accent: #111;
}

[data-theme="alwaysDark"] {
  --color-bg: #111;
  --color-fg: #fffff1;
  --color-divider: #fffff1;
  --color-accent: #a295f1;
}

/* Deferring to system */
@media (prefers-color-scheme: dark) {
  [data-theme="system"] {
    --color-bg: #111;
    --color-fg: #fffff1;
    --color-divider: #fffff1;
    --color-accent: #a295f1;
  }
}

@media (prefers-color-scheme: light) {
  [data-theme="system"] {
    --color-bg: #fffff1;
    --color-fg: #111;
    --color-divider: #111;
    --color-accent: #111;
  }
}

html {
  height: 100%;
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-size: 1rem;
  accent-color: var(--color-accent);
}

body {
  height: 100%;
  margin: 0;
  padding: 1rem;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  padding: 1rem;
  text-align: center;
}

footer {
  margin-top: auto;
  padding-top: 1rem;
  text-align: center;
  font-size: 1rem;
}

footer a[href] {
  color: var(--color-fg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button,
input,
label,
fieldset,
legend {
  display: block;
  font: inherit;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

button {
  background-color: #fff;
  cursor: pointer;
}

label {
  font-weight: 600;
}

label + input {
  margin-top: 0.5rem;
}

form > * + * {
  margin-top: 1rem;
}
