*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 1.125rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button,
input,
label,
fieldset,
legend {
  display: block;
  font: inherit;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

button {
  cursor: pointer;
}

label {
  font-weight: 600;
}

label + input {
  margin-top: 0.5rem;
}

form > * + * {
  margin-top: 1rem;
}
